/* Colors */
$ua-yellow: #F7CE00;
$ua-blue: #0058B5;

$main-font: white;

$wait-none: gray;
$wait-short: #28a745;
$wait-medium: #ffc107;
$wait-long: #dc3545;

/* backgrounds */
$background-dark: black;
$background-mild: #222222;
$background-texture: url('./dark-mosaic.png');

$focus-country:   #252a34a6;
$focus-ukraine:   #08D9D6;
$focus-russia:    #FF2E63;
$focus-truce:     #EAEAEA;
$focus-contested: orange;
