#overlayLoading {
  position: fixed;
  z-index: 100000;
  pointer-events: all;
  height: 100%;

  background: $background-dark;
  color: $main-font;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  background-image: $background-texture;

  &.disabled {
    display: none;
  }

  .loader .flag{
    height: 3px;
    background: transparent;
    filter: drop-shadow(0px 15px 0px $ua-yellow);
    box-shadow: 0px 10px 5px $ua-blue;
  }
}
