#overlayControlGrid {
  position: fixed;
  z-index: 2;
  pointer-events: none;
  padding: 12px;
  height: 100%;
}

.leaflet-pane.leaflet-tile-pane {
  opacity: 0;
  transition: all .5s ease;

  &.active {
    opacity: 0.6;
    filter: invert(1);
  }
}

.legend-control {
  transition: all .5s ease;
  cursor: pointer;

  &.active {
    filter: invert(1);
  }
}

#mymap {
  height: 100% !important;
  background-color: $background-dark;
  background-image: $background-texture;
}

.leaflet-shadow-pane .custom-asset-marker {
  display: none !important;
}

.leaflet-control-attribution.leaflet-control {
  text-align: center;
  background: transparent;
  color: white;
  font-size: 9px;
  filter:
    drop-shadow(black 1px 1px 0px)
    drop-shadow(black -1px -1px 0px)
    drop-shadow(black -1px 1px 0px)
    drop-shadow(black 1px -1px 0px);
}
.leaflet-control-attribution.leaflet-control a {
  color: #bbbbbb;
}

.leaflet-tooltip.country-refugees.disabled {
  display: none;
}
.leaflet-marker-pane .custom-asset-marker.disabled {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}
